<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
  </head>
  <body>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <dl class="dl-horizontal">
        <dt>First Name</dt><dd><%= data.fname %></dd>
        <dt>Last Name</dt><dd><%= data.lname %></dd>
        <dt>Address</dt><dd><%= data.address %></dd>
        <dt>Zip Code</dt><dd><%= data.zip %></dd>
        <dt>Funds</dt><dd><%= data.balance %></dd>
        <dt>State</dt><dd><%= data.state %></dd>
        <dt>Vehicle License Plate</dt><dd><%= data.lplate %></dd>
        <dt>Vehicle Make</dt><dd><%= data.cmake %></dd>
        <dt>Vehicle Year</dt><dd><%= data.cyear %></dd>
        <dt>Vehicle Tag</dt><dd><%= data.tag %></dd>
      </dl>
    <form action="/users/logout" method="post">
      <button type="submit" class="btn btn-warning btn-lg">Logout</button>
    </form>
    <form action="/users/requesttag" method="post">
      <button type="submit" class="btn btn-warning btn-lg">Request a Tag</button>
    </form>
    <form action="/users/relinquishTag" method="post">
      <button type="submit" class="btn btn-warning btn-lg">Relinquish Tag</button>
    </form>
    <form action="/users/reportLostTag" method="post">
      <button type="submit" class="btn btn-warning btn-lg">Report Lost Tag</button>
    </form>
    <form action="/users/changeInformation" method="get">
      <button type="submit" class="btn btn-warning btn-lg"> Change Personal Information</button>
    </form>
    <form action="/users/addFunds" method="post">
      <h4>Add Funds</h4>
      <input type="text" class="form-control" name="amount">
      <button type="submit" class="btn btn-warning btn-lg">Add Funds</button>
    </form>
    <form action="/toll" method="get">
      <button type="submit" class="btn btn-warning btn-lg"> Go To Toll Page</button>
    </form>
    <table style="width:100%">
        <tr>
          <th>Toll Code</th>
          <th>Tag ID</th>
          <th>Plate #</th>
          <th>Fare</th>
          <th>Timestamp</th>
        </tr>
        <% if(trip != null) { %>
          <% for(var i=0; i < trip.length; i++) { %>
            <tr>
                <td><%= trip[i].tollCode %></td>
                <td><%= trip[i].tagID %></td>
                <td><%= trip[i].lplate %></td>
                <td><%= trip[i].fare %></td>
                <td><%= trip[i].timestamp %></td>
            </tr>
          <% } %>
        <% } %>
      </table>
  </body>
</html>
