<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
        table, th, td {
        border: 1px solid black;
        }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/users/clerk" method="get">
      <button type="submit" class="btn btn-warning btn-lg"> Go to Users page</button>
    </form>
    <form action="/users/logout" method="post">
      <button type="submit" class="btn btn-warning btn-lg"> Save and Logout</button>
    </form>
    <h2>Toll Code Chart for Reference</h2>
    <table style="width:100%">
      <tr>
        <th>Toll Code</th>
        <th>Toll Name</th>
        <th>Toll Fare</th>
        <th>Toll Effective Date</th>
        <th>Entry Point</th>
        <th>Toll Type</th>
      </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= i %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].fare %></td>
                <td><%= data[i].dateEffective %></td>
                <td><%= data[i].entryPoint %></td>
                <td><%= data[i].type %></td>
            </tr>
        <% } %>
    </table>
    <br><br>
    <form action="/toll/pay" method="post">
      <div class="form-group">
          <label>Enter Toll Code</label>
          <input type="text" class="form-control" name="tollCode">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">GO</button>
    </form>
  </body>
</html>
